<section class="py-20" id="about">
    <div class="flex justify-center flex-col">
        <h1 class="flex justify-center text-5xl font-semibold">About <span class="text-secondary">Me</span></h1>
        <div class="flex justify-center items-center flex-col py-3">
            <p>
                My name is Aman mawar, an aspiring Full Stack developer based in India.<br>
                I
            </p>
            <div class="py-3 flex justify-start relative items-baseline">
                <h1 class="text-3xl text-primary">Skills:</h1>
                <ul class="flex ">
                    <li class="mx-2"><svg-icon src="assets/icons/python.svg"  [svgStyle]="getNgStyle()" [applyClass]="true" ></svg-icon>
                    </li>
                    <li class="mx-2"><svg-icon src="assets/icons/javascript.svg"  [svgStyle]="getNgStyle()" [applyClass]="true" ></svg-icon>
                    </li>
                    <li class="mx-2"><svg-icon src="assets/icons/bootstrap.svg"  [svgStyle]="getNgStyle()" [applyClass]="true" ></svg-icon>
                    </li>
                    <li class="mx-2"><svg-icon src="assets/icons/angular.svg"  [svgStyle]="getNgStyle()" [applyClass]="true" ></svg-icon>
                    </li>
                    <li class="mx-2"><svg-icon src="assets/icons/react.svg"  [svgStyle]="getNgStyle()" [applyClass]="true" ></svg-icon>
                    </li>
                    <li class="mx-2"><svg-icon src="assets/icons/html5.svg"  [svgStyle]="getNgStyle()" [applyClass]="true" ></svg-icon>
                    </li>
                    <li class="mx-2"><svg-icon src="assets/icons/nodejs.svg"  [svgStyle]="getNgStyle()" [applyClass]="true" ></svg-icon>
                    </li>
                    <li class="mx-2"><svg-icon src="assets/icons/aws.svg"  [svgStyle]="getNgStyle()" [applyClass]="true" ></svg-icon>
                    </li>
                    <li class="mx-2"><svg-icon src="assets/icons/css.svg"  [svgStyle]="getNgStyle()" [applyClass]="true" ></svg-icon>
                    </li>
                    <li class="mx-2"><svg-icon src="assets/icons/tailwind.svg"  [svgStyle]="getNgStyle()" [applyClass]="true" ></svg-icon>
                    </li>
                    <li class="mx-2"><svg-icon src="assets/icons/google-cloud.svg"  [svgStyle]="getNgStyle()" [applyClass]="true" ></svg-icon>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
