<section class="flex justify-around items-center p-2 shadow border-t-[1px]">
    <div class="ml-6">
        <h1>No Copyright issue!</h1>
    </div>
    <h2>Made by Aman mawar</h2>
    <div class="flex justify-center items-baseline">
        <h1>Socials:</h1>
        <ul class="flex">
            <li class="mx-2"><a href="https://github.com/Amanmawar17" target="_blank"><svg-icon src="assets/icons/github.svg"
                [svgStyle]="getNgStyle()" [applyClass]="true"></svg-icon></a></li>
            <li class="mx-2"><a href="https://www.linkedin.com/in/aman-mawar-2139161b1/" target="blank"><svg-icon
                src="assets/icons/linkedin.svg" [svgStyle]="getNgStyle()"
                [applyClass]="true"></svg-icon></a></li>
            <li class="mx-2"><a href="https://twitter.com/aman_mawar" target="blank"><svg-icon src="assets/icons/twitter.svg"
                [svgStyle]="getNgStyle()" [applyClass]="true"></svg-icon></a></li>
        </ul>   
    </div>
</section>
