<section class="py-8">
    <div class="flex h-screen justify-center flex-col text-[#fff]">
        <h1 class="flex justify-center text-5xl">About <span class="text-[#FBBD23]">Me</span></h1>
        <div class="flex justify-center items-center flex-col py-3">
            <p>
                My name is Aman mawar, an Electronics undergrad from Rajasthan Technical University.<br>
                I
            </p>
            <div class="grid grid-cols-7 py-3 gap-4">
                <h1 class="text-xl text-[#FBBD23]">Skills:</h1>
                <fa-icon [icon]="faHtml5" [classes]="['h-10', 'w-10']">
                </fa-icon>
                <fa-icon [icon]="faCss3" [classes]="['h-10', 'w-10']">
                </fa-icon>
                <fa-icon [icon]="faJs" [classes]="['h-10', 'w-10']">
                </fa-icon>
                <fa-icon [icon]="faPython" [classes]="['h-10', 'w-10']">
                </fa-icon>
                <fa-icon [icon]="faAngular" [classes]="['h-10', 'w-10']">
                </fa-icon>
                <fa-icon [icon]="faCloud" [classes]="['h-10', 'w-10']">
                </fa-icon>
            </div>
        </div>
    </div>
</section>
<app-experience></app-experience>