<section class="py-8" id="about">
    <div class="flex h-screen justify-center flex-col text-[#fff]">
        <h1 class="flex justify-center text-5xl">About <span class="text-primary">Me</span></h1>
        <div class="flex justify-center items-center flex-col py-3">
            <p>
                My name is Aman mawar, an aspiring frontend developer based in India.<br>
                I 
            </p>
            <div class="grid grid-cols-7 py-3 gap-4">
                <h1 class="text-xl text-[#FBBD23]">Skills:</h1>
                <fa-icon className="hover:text:[#]" [icon]="faHtml5" [classes]="['h-10', 'w-10']">
                </fa-icon>
                <fa-icon className="hover:text:[#]" [icon]="faCss3" [classes]="['h-10', 'w-10',] ">
                </fa-icon>
                <fa-icon className="hover:text:[#]" [icon]="faJs" [classes]="['h-10', 'w-10']">
                </fa-icon>
                <fa-icon className="hover:text:[#]" [icon]="faPython" [classes]="['h-10', 'w-10']">
                </fa-icon>
                <fa-icon className="hover:text:[#e32d49]" [icon]="faAngular" [classes]="['h-10', 'w-10']">
                </fa-icon>
                <fa-icon className="hover:text:[#]" [icon]="faReact" [classes]="['h-10', 'w-10']">
                </fa-icon>
            </div>
        </div>
    </div>
</section>
<app-experience></app-experience>