<section class="py-20" id="project">
    <div class="flex justify-center flex-col items-center px-8">
        <h1 class="text-5xl text-primary font-semibold py-2">Projects</h1>
        <div class="grid grid-cols-3 place-content-evenly my-4 text-white gap-6 max-md:grid-cols-2 max-sm:grid-cols-1">
            <div class="card my-4 w-80 outline outline-1">
                <figure>
                    <img class="" src="assets/images/demo-card.png" alt="Project's image" />
                </figure> 
                <div class="flex p-2 items-center">
                    <h1 class="mr-2">Frontend Projects</h1>
                    <a href="https://github.com/Amanmawar17/frontend-projects" target="_blank"><svg-icon src="assets/icons/code-fill.svg" [svgStyle]="getNgStyle()"
                [applyClass]="true"></svg-icon></a>
                </div>
                <div class="p-2">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta assumenda voluptates sapiente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>