<section class="p-8">
    <div class="flex h-screen justify-center flex-col items-center content-center py-4">
        <h1 class="text-2xl text-[#FBBD23] py-6">Experience</h1>
        <div class="px-4">
          <ol class="border-l md:border-l-0 md:border-t border-gray-300 md:flex md:justify-center md:gap-6">
            <li>
              <div class="flex md:block flex-start items-center pt-2 md:pt-0">
                <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 md:ml-0 mr-3 md:mr-0 md:-mt-1"></div>
                <p class="text-gray-500 text-sm mt-2">01.07.2021</p>
              </div>
              <div class="mt-0.5 ml-4 md:ml-0 pb-5">
                <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Apprenticeship</h4>
                <p class="text-gray-500 mb-3"></p>
              </div>
            </li>
            <li>
              <div class="flex md:block flex-start items-center pt-2 md:pt-0">
                <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 md:ml-0 mr-3 md:mr-0 md:-mt-1"></div>
                <p class="text-gray-500 text-sm mt-2">13.09.2021</p>
              </div>
              <div class="mt-0.5 ml-4 md:ml-0 pb-5">
                <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Web Developer Intern</h4>
                <p class="text-gray-200 mb-3"></p>
              </div>
            </li>
            <li>
              <div class="flex md:block flex-start items-center pt-2 md:pt-0">
                <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 md:ml-0 mr-3 md:mr-0 md:-mt-1"></div>
                <p class="text-gray-200 text-sm mt-2">25.11.2021</p>
              </div>
              <div class="mt-0.5 ml-4 md:ml-0 pb-5">
                <h4 class="text-warning font-semibold text-xl mb-1.5">Extra Curriculars</h4>
                <p class="text-gray-200 mb-3"></p>
              </div>
            </li>
          </ol> 
        </div>
        
    </div>
</section>
<app-project></app-project>