<section id="home" class="py-20 max-md:h-full">
    <div class="flex justify-center max-sm:flex-col-reverse items-center font-mono gap-12 mb-5">
        <div class="self-center flex-col p-4">
            <h1 class="text-5xl py-3">Heyy! There, 🫰</h1>
            <h3 class="tw text-3xl py-3"></h3>
            <p class="text-lg py-3">I'm an aspiring Full-Stack developer based in India. <br>I am excited about making
                Saas and Open Source Projects.</p>
            <div class="flex justify-start py-3">
                <a href="#resume" class="mx-2"><button
                        class="outline outline-2 outline-primary rounded-xl bg-primary text-base hover:bg-base hover:text-primary p-2">Resume</button></a>
                <a href="#project" class="mx-2 ease-in"><button
                        class="outline-2 outline outline-secondary rounded-xl bg-white text-secondary hover:bg-secondary  hover:text-base p-2">Projects</button></a>
            </div>
        </div>
        <div id="hero" class="flex flex-col p-4 shadow-lg">
            <div class="content text-center">
                <figure class="overflow-hidden"><a target="_blank" href="https://storyset.com/data">
                        <img class="h-64 rounded-full" src="assets/images/hero.svg" alt="Photo!" /></a>
                </figure>
                <div class="my-2">
                    <h2 class="mb-2">Aman mawar</h2>
                    <h4 class="text-xl ">Full Stack Devloper</h4>
                </div>
                <div class="flex justify-evenly items-center my-3">
                    <a href="https://github.com/Amanmawar17" target="_blank"><svg-icon src="assets/icons/github.svg"
                            [svgStyle]="getNgStyle()" [applyClass]="true"></svg-icon></a>
                    <a href="https://www.linkedin.com/in/aman-mawar-2139161b1/" target="blank"><svg-icon
                            src="assets/icons/linkedin.svg" [svgStyle]="getNgStyle()"
                            [applyClass]="true"></svg-icon></a>
                    <a href="https://twitter.com/aman_mawar" target="blank"><svg-icon src="assets/icons/twitter.svg"
                            [svgStyle]="getNgStyle()" [applyClass]="true"></svg-icon></a>
                </div>
            </div>

        </div>
    </div>

    <button class="animate-bounce relative left-1/2 bottom-4 hover:scale-125 hover:text-primary">
        <a href="#about"><svg-icon src="assets/icons/arrow.svg" [svgStyle]="getNgStyle()"
                [applyClass]="true"></svg-icon>
        </a></button>
</section>