<nav
  class="flex justify-center m-auto  w-10/12 backdrop-blur-lg backdrop-filter bg-opacity-30 sticky top-0 z-10 text-[#000000] dark:text-[#ffffff] py-3">
  <div class="content-center border-solid rounded-md">
    <ul class="menu menu-horizontal px-2">
      <li class="px-2 hover:text-[#FBBD23]"><a>About</a></li>
      <li class="px-2 hover:text-[#FBBD23]"><a>Experience</a></li>
      <li class="px-2 hover:text-[#FBBD23]"><a>Projects</a></li>
      <li class="px-2 hover:text-[#FBBD23]"><a>Hire me</a></li>
      <li class="px-2"><button class="btn btn-outline hover:bg-white hover:text-[#FBBD23] text-[#ffffff] download">Resume</button></li>
    </ul>
  </div>
</nav>
<app-home></app-home>