<section class="py-8"  id="project">
    <div class="flex justify-center flex-col items-center px-8">
        <h1 class="text-4xl  text-[#FBBD23] py-2">Projects</h1>
        <div class="grid grid-cols-2 place-content-evenly my-4 text-white gap-6 md:grid-cols-1 sm:grid-cols-1">
            <div class="card lg:card-side bg-[#242219] hover:shadow-2xl hover:shadow-[#424039] my-2">
                <figure class="w-1/3"><img src="assets/images/aman.png" alt="image"></figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">Angular Kun</h2>
                    <h5 class="text-sm">Texh-stack: <span class="text-[#FBBD23] text-xs">Angular, Tailwind, DaisyUI, JS Libraries</span></h5>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-xl text-white bg-[#FBBD23] hover:bg-white hover:text-black">Listen</button>
                    </div>
                </div>
            </div>
            <div class="card lg:card-side bg-[#242219] hover:shadow-2xl hover:shadow-[#424039] my-2">
                <figure class="w-1/3"><img src="assets/images/aman.png" alt="image"></figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">Angular Kun</h2>
                    <h5 class="text-sm">Texh-stack: <span class="text-[#FBBD23] text-xs">Angular, Tailwind, DaisyUI, JS Libraries</span></h5>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-xl text-white bg-[#FBBD23] hover:bg-white hover:text-black">Listen</button>
                    </div>
                </div>
            </div>
            <div class="card lg:card-side bg-[#242219] hover:shadow-2xl hover:shadow-[#424039] my-2">
                <figure class="w-1/3"><img src="assets/images/aman.png" alt="image"></figure>
                <div class="card-body">
                    <h2 class="card-title text-lg">Angular Kun</h2>
                    <h5 class="text-sm">Texh-stack: <span class="text-[#FBBD23] text-xs">Angular, Tailwind, DaisyUI, JS Libraries</span></h5>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <p class="text-sm">Click the button to listen on Spotiwhy app.</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-xl text-white bg-[#FBBD23] hover:bg-white hover:text-black">Listen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-connect></app-connect>