<section id="resume" class="py-20">
    <div class="flex justify-center flex-col">
        <div class="flex justify-center items-center max-[415px]:justify-start">
            <h1 class="text-5xl text-secondary font-semibold">Resume</h1>
            <button
            class="inline absolute right-3 outline-2 outline outline-secondary rounded-xl bg-white text-secondary hover:bg-black  hover:text-accent hover:outline-black p-2">
            Download CV</button>
        </div>    
        <div class="accordians flex flex-col justify-center items-center w-full" >
            <div class="accordian flex flex-col p-2 my-2 w-2/5 outline-1 outline-black outline rounded-md shadow-sm">
                <div class="accordian-head flex justify-between items-center text-start">
                    <h1 class="ml-3">Experience</h1>
                    <img class="h-10" src="assets/icons/plus.svg" alt="plus-icon"/>
                </div>
                <div class="accordian-body hidden"></div>
            </div>
            <div class="accordian flex flex-col p-2 my-2 w-2/5 outline-1 outline-black outline rounded-md shadow-sm">
                <div class="accordian-head flex justify-between items-center text-start">
                    <h1 class="ml-3">Achievements</h1>
                    <img class="h-10" src="assets/icons/plus.svg" alt="plus-icon"/>
                </div>
                <div class="accordian-body hidden"></div>
            </div>
            <div class="accordian flex flex-col p-2 my-2 w-2/5 outline-1 outline-black outline rounded-md shadow-sm">
                <div class="accordian-head flex justify-between items-center text-start">
                    <h1 class="ml-3">Communities</h1>
                    <img class="h-10" src="assets/icons/plus.svg" alt="plus-icon"/>
                </div>
                <div class="accordian-body hidden"></div>
            </div>
        </div>
    </div>
</section>
